@model IEnumerable<InnovacionDocentes.Models.Encuadre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="right_col" role="main">

    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>


        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">

                        <h3>:: Todos Los Encuatres ::</h3>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">



                        <div>
                            <button type="button" class="btn btn-success btn-small  pull-right"> @Html.ActionLink("Nuevo Plan", "Create")</button>
                        </div>
                        <br />
                        <br />
                        <br />
                        <table class="table table table-striped projects" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Contenido
                                    </th>
                                    <th>
                                        Empleado
                                    </th>
                                    <th>
                                        Proposito
                                    </th>
                                    <th>
                                        Tema
                                    </th>
                                    <th>
                                        Fecha Inicio
                                    </th>
                                    <th>
                                        Fecha Fin
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.idEncuadre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Contenido.strDescripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Empleado.strNombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Proposito.strDescripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tema.strNombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.dteFechaInicio)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.dteFechaFin)
                                        </td>

                                        <td>
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> @Html.ActionLink("Editar", "Edit", new { id = item.idEncuadre }) </a>
                                            <Hr />
                                            <a href="#" class="btn btn-primary btn-xs">
                                                <i class="fa fa-folder"></i>  @Html.ActionLink("Ver", "Details", new { id = item.idEncuadre })
                                            </a>
                                            <Hr />
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>   @Html.ActionLink("Eliminar", "Delete", new { id = item.idEncuadre })</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>