@model InnovacionDocentes.Models.Tema

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="right_col" role="main">

        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Temas <small>nuevo elemento</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>

                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Nombre
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.strNombre, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.strNombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br /> <br />  <br />
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Descripción
                                    </div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.strDescripcion, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.strDescripcion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br /> <br />  <br />
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Aprendizaje
                                    </div>
                                    <div class="col-md-10">
                                        @Html.DropDownList("idAprendizaje", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.idAprendizaje, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br /> <br />  <br />
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Jerarquización
                                    </div>
                                    <div class="col-md-10">
                                        @Html.DropDownList("idCatJeraquizacion", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.idCatJeraquizacion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br /> <br /><br />
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Dosificación
                                    </div>
                                    <div class="col-md-10">
                                        @Html.DropDownList("idDosificacion", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.idDosificacion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br /> <br />
                                <div class="ln_solid"></div>
                                <div class="item form-group">
                                    <div class="col-md-6 col-sm-6 offset-md-3">
                                        <button class="btn btn-default" type="button"> @Html.ActionLink("Cancelar", "Index")</button>
                                        <button class="btn btn-primary" type="reset">Reiniciar</button>
                                        <button type="submit" class="btn btn-success">Crear</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}