@model IEnumerable<InnovacionDocentes.Models.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.strNickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.straMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.strNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.strNickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.straMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.strNombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.idUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idUsuario })
        </td>
    </tr>
}

</table>
