@model InnovacionDocentes.Models.Instituciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Instituciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strClave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strClave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatEstado.strDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatEstado.strDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatMunicipio.strDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatMunicipio.strDescripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idInstintucion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
